.appBG {
  background-color: #454b58;
  min-height: 100vh;
  width: 100vw;
}

.appContainer {
  margin-top: 0;
  height: calc(100vh -65px);
  padding: 1rem;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: minmax(8rem, auto);
}
