.appBG {
  background-color: #454b58;
  height: 100vh;
  width: 100vw;
}

.appContainer {
  margin-top: -64px;
  height: 100vh;
  padding: 1rem;
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
